<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <main class="main">

        <header class="header">
            <nav>
                <ul>
                    <a href="/login"><li class="Login">Login</li></a>
                    <a href="/signup"><li class="Signup">Signup</li></a>
                    <a href="#Reviewss"><li class="AboutUs">Reviews</li></a>
                    
                </ul>
            </nav>
        </header>

        <h1 class="McRonalds">Welcome to <br>McRonalds!</h1>
    </main>

    <section class="Reviews" id="Reviewss">
        <h2>Our Reviews</h2>

        <span class="reviewOne">"Makes it super easy for chefs to complete orders!" -Chef Antonio <br></span>

        <span class="reviewTwo">"I can't wait to eat here again!" -The cow from Chick-fil-A <br></span>

        <span class="reviewThree">"It's okay I guess." -Master Chief</span>
</body>
</html>
